<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="com.xworkz.torch_cell"></context:component-scan>
	
	<!-- <bean id ="tor" class = "com.xworkz.torch_cell.beans.TorchBean" >
	<property name="id" value="1"></property>
	<property name="name" value="Everday"></property>
	<property name="color" value="Black"></property>
	<property name="cell" ref="cel"></property>
	</bean> 	
	
	<bean id="cel" class="com.xworkz.torch_cell.beans.CellBean">
	<property name="cellId" value="5"></property>
	<property name="name" value="DuroCells"></property>
	
	</bean>

 -->
	

</beans>
