<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="ban" class = "com.xworkz.bank_apps.bean.BankBean">
	<property name="id" value="1"></property>
	<property name="name" value="SBI"></property>
	<property name="headQuarters" value = "Mumbai"></property>
	<property name="noOfBranches" value="259"></property>
	<property name="app" ref="ap"></property>
	</bean> 	
	
	<bean id = "ap" class = "com.xworkz.bank_apps.bean.AppsBean">
	<property name="id" value="3"></property>
	<property name="name" value="Passbook app"></property>
	<property name="size" value="5"></property>
	
	</bean>

</beans>
