<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="cam" class = "com.xworkz.camera_flash.beans.CameraBean">
	<constructor-arg value="1"></constructor-arg>
	<constructor-arg value="Nikon"></constructor-arg>
	<constructor-arg  value = "D40"></constructor-arg>
	<constructor-arg  ref="flash"></constructor-arg>
	</bean> 	
	
	
	<bean id = "flash" class = "com.xworkz.camera_flash.beans.FlashBean">
	<constructor-arg value="3"></constructor-arg>
	<constructor-arg value="Fluroscent"></constructor-arg>
	
	</bean>

</beans>
