<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="cr" class = "com.xworkz.cricket_player.beans.CricketBean">
	<constructor-arg value="1"></constructor-arg>
	<constructor-arg value="Outdoor"></constructor-arg>
	<constructor-arg  value = "England"></constructor-arg>
	<constructor-arg  ref="pl"></constructor-arg>
	</bean> 	
	
	<bean id = "pl" class = "com.xworkz.cricket_player.beans.PlayersBean">
	<constructor-arg value="3"></constructor-arg>
	<constructor-arg value="Virat Kohli"></constructor-arg>
	
	</bean>

</beans>
