<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="gun" class = "com.xworkz.gun_details.gun.bean.GunBean">
	<property name="id" value="1"></property>
	<property name="name" value="AK47"></property>
	<property name="recoilSpeed" value="7.6"></property>
	<property name="price" value="250000"></property>
	<property name="otherGuns" value="uzi,Mk4,UMP"></property>
	</bean> 	
	
	

	

</beans>
