<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="coun" class = "com.xworkz.country_states.bean.CountryBean">
	<property name="id" value="1"></property>
	<property name="name" value="India"></property>
	<property name="capital" value = "New Delhi"></property>
	<property name="state" ref="st"></property>
	</bean> 	
	
	<bean id = "st" class = "com.xworkz.country_states.bean.StatesBean">
	<property name="id" value="6"></property>
	<property name="name" value="Karnataka"></property>
	<property name="capital" value="Bengaluru"></property>
	
	</bean>

</beans>
