<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="batt" class = "com.xworkz.battery_details.battery.bean.BatteryBean">
	<property name="id" value="1" ></property>
	<property name="name" value="Luminous"></property>
	<property name="power" value="250"></property>
	<property name="price" value="15000"></property>
	
	
	
	</bean>

</beans>
