<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="hill" class = "com.xworkz.hills_details.hill.bean.HillBean">
	
	<constructor-arg value="1" type="int"></constructor-arg>
	<constructor-arg value="Savandurga"></constructor-arg>
	<constructor-arg value="Magadi"></constructor-arg>
	<constructor-arg value="false"></constructor-arg>
	<constructor-arg value="Easy"></constructor-arg>
	</bean>
	


</beans>
