<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="mar" class = "com.xworkz.market.bean.MarketBean ">
	<property name="id" value="1"></property>
	<property name="name" value="DMart"></property>
	<property name="location" value="Rajajinagar"></property>
	<property name="noOfBranches" value="25"></property>
	</bean> 	
	
	<bean id = "inte" class="java.lang.Integer">
	<constructor-arg value="55"></constructor-arg>
	</bean>


</beans>
