<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="lap" class = "com.xworkz.laptop_storage.bean.LaptopBean">
	<property name="id" value="1"></property>
	<property name="name" value="Lenovo"></property>
	<property name="price" value = "45000"></property>
	<property name="version" value="G30"></property>
	<property name="hDisk" ref="hrd"></property>
	</bean> 	
	
	<bean id = "hrd" class = "com.xworkz.laptop_storage.bean.HardDiskBean">
	<property name="hardDiskId" value="2"></property>
	<property name="hardDiskName" value="Samsung"></property>
	<property name="hardDiskCapacity" value="1"></property>
	
	</bean>

</beans>
