<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="com.xworkz.cycle_app"></context:component-scan>
	<context:property-placeholder location="db.properties"/>
	
	<bean id = "factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	<property name="dataSource" ref="driverManager"></property>
	<property name="annotatedClasses" >
	<list>
	<value>com.xworkz.cycle_app.dto.CycleDTO </value>
	</list>
	</property>
	<property name="hibernateProperties">
			<props>
				<prop key="hibernate.id.new_generator_mappings">${hibernate.prop.generator}</prop>
			</props>
		</property>
	</bean>
	
	<bean id="driverManager"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	
	<property name="driverClassName" value="${driverManager.driverClassName}"></property>
	<property name="url" value="${driverManager.url}"></property>
	<property name="username" value="${driverManager.username}"></property>
	<property name="password" value="${driverManager.password}"></property>
	
	
	
	</bean>
	
	

	
</beans>







