<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="goog" class = "com.xworkz.google_server.bean.GoogleBean">
	<property name="id" value="1"></property>
	<property name="location" value="USA"></property>
	<property name="noOfEmployees" value = "2100"></property>
	<property name="server" ref="sr"></property>
	</bean> 	
	
	<bean id = "sr" class = "com.xworkz.google_server.bean.ServerBean">
	<property name="id" value="3"></property>
	<property name="name" value="Google Server"></property>
	</bean>

</beans>
