<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="speak" class = "com.xworkz.speaker_magnet.beans.SpeakerBean">
	<constructor-arg value="1"></constructor-arg>
	<constructor-arg value="LG"></constructor-arg>
	<constructor-arg  value = "Red"></constructor-arg>	
	<constructor-arg  ref="mag"></constructor-arg>
	</bean> 	
	
	<bean id = "mag" class = "com.xworkz.speaker_magnet.beans.MagnetBean">
	<constructor-arg value="3"></constructor-arg>
	<constructor-arg value="Bar Magnet"></constructor-arg>
	
	</bean>

</beans>
